{% load paginator_tags %}
{% if page_obj.has_next or page_obj.has_previous %}
<ul>
	{% if page_obj.has_previous %}
		<li class="prev"><a href="{% pager_url page_obj.previous_page_number %}">&lt;</a></li>
	{% endif %}
	{% for page in page_obj.page_range %}
		{% if page %}
		<li class="page {% if page_obj.number == page %}active{% endif %}"><a href="{% pager_url page %}">{{ page }}</a></li>
		{% else %}
		<li class="disabled dots"><a href="#">…</a></li>
		{% endif %}
	{% endfor %}
	{% if page_obj.has_next %}
		<li class="next"><a href="{% pager_url page_obj.next_page_number %}">&gt;</a></li>
	{% endif %}
</ul>
{% endif %}
