{% extends "base.html" %}

{% load paginator_tags %}

{% block site_title %}Default paginator{% endblock %}
{% block head_title %}Default paginator{% endblock %}

{% block content %}
	<div class="paginated-list">
		<div class="pagination top">{% block pagination_top %}{% pagination %}{% endblock %}</div>
		<ul class="items">
			{% for object in object_list %}
				<li>{{ object }}</li>
			{% endfor %}
		</ul>
		<div class="pagination bottom">{% block pagination_bottom %}{% pagination %}{% endblock %}</div>
	</div>
{% endblock %}
